html,body{
    height: 116%;
    display: flex;
    justify-content: center;
    background-image: url(../Images/BeautifulFace.jpg);
    background-size: 7%;
}

#main-container{
    width: 1000px;
    padding: 10px;
    background-color: blanchedalmond;
}

#header{
    width: 980px;
    height: 100px;
    padding: 10px;
    background-color: rgba(251, 255, 0, 0.473);
    line-height: 100px;
    color: black;
    font-family: cursive;
    font-size: xx-large;
    border-radius: 15px;
    border: 2px dashed black;
}

#nav{
    display: flex;
    justify-content: center;
    background-color: rgba(126, 0, 0, 0.7);
    border: 2px solid black;
    border-radius: 15px;
}

.btn{
    width: 100px;
    height: 48px;
    background-color: black;
    border: 2px solid red;
    color: white;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    line-height: 50px;
    border-radius: 15px;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.459);
    margin: 20px 20px 20px 0;
}

.btn:hover{
    background-color: red;
}

.btn:active{
    background-color: grey;
}

#content{
    width: 980px;
    padding: 10px;
    background-color: #ff5e005d;
    margin-top: 10px;
    border-bottom: 3px solid black;
    border-radius: 15px;
}

.title{
    width: 960px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.884);
    text-align: center;
    color: white;
}

#img{   
    margin-left: 360px;
}

.txt{
    width: 960px;
    text-align: justify;
    font-size: 18px;
}

#footer{
    width: 960px;
    text-align: center;
    font-size: 12px;
}